html {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
}

.container {
  display: grid;
  grid-template-columns: repeat(2, 100px);
  grid-template-rows: repeat(3, 100px);
  gap: 10px;

  width: 100%;
  height: 500px;
  background-color: silver;

  justify-content: center;
  align-content: center;

  justify-items: start;
  align-items: center;
}

.container > div {
  width: 100px;
  height: 100px;
}

.container p {
  font-size: 40px;
  margin: 0;
  text-align: center;
  margin-top:20px;
}

.box1 {
  background: hsl(0, 60%, 60%);
  border-radius: 20px;
}
.box2 {
  background: hsl(60, 60%, 60%);
  border-radius: 20px;
}
.box3 {
  background: rgb(92, 214, 92);
  border-radius: 20px;
}
.box4 {
  background: hsl(180, 60%, 60%);
  border-radius: 20px;
}
.box5 {
  background: hsl(240, 60%, 60%);
  border-radius: 20px;
}
.box6 {
  background: hsl(300, 60%, 60%);
  border-radius: 20px;
}

@media (min-width:800px) {
  body {
    background-color: #eee;
  }

  .container {
    background-color: #473636;
    display: grid;
    grid-template-columns: repeat(6, 100px);
    grid-template-rows: repeat(3, 100px);

    gap: 20px;
  }

  .container p {
    font-size: 40px;
    margin: 0;
    margin-top: 22px;
    text-align: center;
    color: #fff;
  }

  .box1 {
    background: hsl(0, 60%, 60%);
    border-radius: 50%;
  }
  .box2 {
    background: hsl(60, 60%, 60%);
    border-radius: 50%;
  }
  .box3 {
    background: rgb(92, 214, 92);
    border-radius: 50%;
  }
  .box4 {
    background: hsl(180, 60%, 60%);
    border-radius: 50%;
  }
  .box5 {
    background: hsl(240, 60%, 60%);
    border-radius: 50%;
  }
  .box6 {
    background: hsl(300, 60%, 60%);
    border-radius: 50%;
  }
}